html{
    margin-top:0;
    padding-top:0;
    height: 100vh;
}

body {
    height: 100vh;
    min-height: 100vh;
    margin-top:0;
    padding-top:0;
    background-color: lightcoral;
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

/* main elements */

h1 {
    padding: 10px 0px;
    font-size: 2.5rem;
    font-family: 'Fredericka the Great', cursive;

}

h2 {
    padding: 5px 0px;
    font-size: 1.25rem;
    font-family: 'Fredericka the Great', cursive;
}

/* navbar */

 nav {

    width: 100%;
    border-bottom: 2px solid black;
    background-color: #fff;
 }


.navset {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#name {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px; 
    padding: 10px 15px 10px 15px;
    height: 100%;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    width: 55%;
}

.navlist li {
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}

.navlist li a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}


.navlist li a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bolder;
}

/* body-ody-ody */

.wrapper {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
}

.another_wrapper {
    width: 960px;
    margin: 40px 0px;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 10px;
}

.content {
    background-color: white;
    padding: 10px;
}

.bio {
    border-top: 2px solid darkgrey;
    padding: 10px;
    background-color: white;
}

.bio p {
    margin-top: 10px;
}


/* index elements */

img {
    float: left;
    height: 150px;
}

.bioimage {
    margin: 15px;
}


/* portfolio page elements */

.foliobox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.foliocard {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px dotted black;
height: 100px;
width: 190px;
padding: 5px;
margin: 10px;
background-color: #fff;
z-index: 2;
object-fit: fill;
position: relative;
}

.folioimg {

height: 100px;
width: 190px;

}

.foliobanner {

width: inherit;
color: white;
background-color: black;
height: 20px;
text-align: center;
z-index: 1;
position: absolute;

}



/* Contact Styles */

.contactform {
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
}

.contactStats {
    margin: 0 auto;
    /* text-align: center; */
}

input {
    padding: 5px;
    margin: 10px;
}

.button {
    border: 1px dashed black;
    background-color: white;
    font-family:  'Amatic SC', cursive;
    font-size: 1rem;
}

.button:hover {
    background-color: lightcoral;
}

.formbox {
    width: 80%;
}

.message {
    height: 125px;
    width: 80%;
    word-wrap: normal;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}

.response {
    font-size: .8rem;
    display: none;
}

/* footer styles */

footer {
    border-top: 2px solid black;
    background-color: whitesmoke;
    color: #000;
    width: 100%;
    height: 65px;
    font-size: .75rem;
    font-family: 'Amatic SC', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
}

footer p {
    padding: 50px;
}

/* Responsive Styles */

@media only screen and (max-width: 980px) {
    /* tablets */

    body { 
        background-size: cover;
        background-repeat: repeat-y;
    }

    .navset {
        width: 760px;
    }

    .wrapper {
        width: 760px;
    }

    .another_wrapper {
        width: 760px;
    }

}

@media only screen and (max-width: 768px) {
   
    body { 
        background-size: auto;
        background-repeat: repeat;
    }
   
    .navset {
        width: 100%;
        align-items: center;
        display: block;
        margin: 0 auto;
    }

    .wrapper {
        width: 630px;
    }

    .another_wrapper {
        width: 630px;
        margin: 10px 0px;
        padding: 5px 5px;
    }

    .content {
        padding: 5px;

    }  

    #name {
        width: 100%;
        padding: 5px;
        margin: 0 auto;

    }

    .navlist {
        margin: 0 auto;
    }

    .navlist li {
        justify-content: space-around;
        margin: 5px;
        padding: 5px;
    }

    .navlist li a {
        font-size: 1.25rem;
    }

    .foliocard {
        width: 100px;
        padding: 5px;
        margin: 5px;
    }

    .folioimg {
        width: 100px;
    }
}

@media only screen and (max-width: 640px) {

    body { 
        background-size: auto;
        background-repeat: repeat;
    }

    .navset {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        display: block;
    }

    #name {
        width: 100%;
        padding: 5px;
        margin: 0 auto;

    }

    .content {
        padding: 5px;

    } 

    .navlist li {
        justify-content: space-around;
        margin: 5px;
        padding: 5px;
    }

    .navlist li a {
        font-size: 1.25rem;
    }

    .another_wrapper {
        width: 400px;
        margin: 10px 0px;
        padding: 5px 5px;
    }

    .wrapper {
        width: 400px;
    }

    .foliocard {
    width: 100px;
    padding: 5px;
    margin: 5px;
    
    }

}