html{
    margin-top:0;
    padding-top:0;
}

body {
    background-color: azure;
    margin-top:0;
    padding-top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fff;
    height: 100%;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

 nav {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid royalblue;
    justify-content: space-between;
    align-items: center;
 }


.navbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 960px;

}

#name {
    background-color: darkturquoise;
    color: white;
    padding: 10px;
    width: 25%;
    align-items: center;
    height: inherit;
}

.navlist {
    
    width: 25%;
    display: flex;
    flex-direction: row;


}

.navlist li {
    justify-content: space-around;
    margin: 5px;
}

.navlist li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding: 10px;
    margin: 0 auto;

}

.bio {

    

}

img {
    height: 150px;
    margin: 10px;
}



footer {
    border-top: 5px solid skyblue;
    background-color: darkturquoise;
    color: #000;
    font-size: 19px;
    width: 100%;
    height: 100px;
    font-size: 9px;
    font-family: 'Courier New', Courier, monospace;
}