html{
    margin-top:0;
    padding-top:0;
}

body {
    margin-top:0;
    padding-top:0;
    background-color: lightcoral;
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 20px 0px;
    font-size: 32px;
    font-family: 'Fredericka the Great', cursive;

}

 nav {
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #fff;
 }


.navset {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#name {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px; 
    padding: 10px 15px 10px 15px;
    height: 100%;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    width: 55%;
}

.navlist li {
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}

.navlist li a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: purple;
}

.navlist li a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bolder;
}

.wrapper {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.another_wrapper {
    width: 960px;
    margin: 50px 0px;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 10px;
}

.content {
    background-color: white;
    padding: 10px;
}

.bio {
    border-top: 2px solid darkgrey;
    padding: 10px;
    background-color: white;
    

}

img {
    float: left;
    height: 150px;
    margin: 15px;
}



footer {
    border-top: 2px solid black;
    background-color: whitesmoke;
    color: #000;
    width: 100%;
    height: 100px;
    font-size: 12px;
    font-family: 'Amatic SC', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    vertical-align: middle; 
}

footer p {
    padding: 50px;
}